@using KnockoutSamples.Extensions
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
    <body>
        <header class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <a class="brand" href="@(Url.Action("Index", "Home"))" style="margin-left: 5px;">
                    <span>Knockout Samples</span>
                </a>
                <ul class="nav">
                    <li class="@Html.ActiveIfMatch("Index", "Home")">
                        <a href="@(Url.Action("Index", "Home"))">
                            <i class="icon-home"></i>
                            Home
                        </a>
                    </li>
                    <li class="@Html.ActiveIfMatch("ShoppingCart", "Home")">
                        <a href="@(Url.Action("ShoppingCart", "Home"))">
                            <i class="icon-shopping-cart"></i>
                            Shopping Cart
                        </a>
                    </li>
                    <li class="@Html.ActiveIfMatch("ConferenceSetup", "Home")">
                        <a href="@(Url.Action("ConferenceSetup", "Home"))">
                            <i class="icon-cog"></i>
                            Conference
                        </a>
                    </li>
                    <li class="@Html.ActiveIfMatch("Profile", "Home")">
                        <a href="@(Url.Action("Profile", "Home"))">
                            <i class="icon-user"></i>
                            Profile
                        </a>
                    </li>
                </ul>
            </div>
        </header>
        
        <div class="container-fluid" style="margin-top: 50px;">
            @RenderBody()

            <footer style="text-align: center;">
                <hr/>
                <p>
                    Knockout Sample project for Microsoft NetWork 2013 conference talk 
                    <strong>Easy transition to HTML5 using MVVM</strong>.
                </p>
                <p>
                    <a href="http://blog.developers.ba">Radenko Zec</a> &amp; 
                    <a href="http://blog.miroslavpopovic.com">Miroslav Popovic</a>
                </p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/knockout")
        @RenderSection("scripts", required: false)
    </body>
</html>
